{% load user_filters %}
<div class="card my-4">
    {% if page == True %}
        <form method="post" action="{% url 'add_comment' username=author.username post_id=post.id %}">
    {% else %}
        <form method="post">
    {% endif %}
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
            <div class="form-group">
                {% for field in form %}
                {{ field|addclass:"form-control" }}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
</div>
